{% extends 'base.html.twig' %}

{% block title %}New Activty{% endblock %}

{% block body %}
    <h1>Create new Activty</h1>

    {{ include('activty/_form.html.twig') }}

    <a href="{{ path('app_activty_index') }}">back to list</a>
{% endblock %}
